* text=auto

*.blade.php linguist-language=HTML
*.css linguist-language=CSS
*.html linguist-language=HTML
*.md linguist-language=Markdown
*.php linguist-language=PHP

# Specify directories to be ignored by linguist
/vendor/* linguist-vendored
/node_modules/* linguist-vendored

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
